.sideBarChannel:hover > h4 {
  color: white;
  background-color: #404644;
}
.sideBarChannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}

.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}
